.big-label
  h2 Text to Image
  form.the-words
    input(type="text" name="words" placeholder="Put Some Text Here" required).form-control
    input.btn(type="submit" value="+ Create Image")
p.help You can share the generated image by right clicking and copying 
canvas#myCanvas

